/*===============================================================*
    HELPER: _NAME_
\*===============================================================*/

$-helper-_NAME_: () !default;

@mixin -helper($config: ()) {
    $defaults: (
        type: class attr,
        selector: _NAME_,
    );

    @include -helper-render($config, $defaults) {
        // content
    }
}

@if ($-config-renderHelper) {
    @include -helper($-helper-_NAME_);
}
