/*===============================================================*
    HELPER: colors
\*===============================================================*/

$-helper-colors: (
    // (id: value)
    generate: (
        text: (),
        textHover: (),
        background: (),
        backgroundHover: (),
    ),
) !default;

@mixin -helper($config: ()) {
    $defaults: (
        type: class,
        selector: c,
    );

    @include -helper-render($config, $defaults) {
        // === Text color ===
        @each $id, $value in -map-get($config, generate text) {
            #{-helper-selector(txt $id)} {
                color: $value;
            }
        }

        // === Text hover color ===
        @each $id, $value in -map-get($config, generate textHover) {
            #{-helper-selector(txtHover $id)} {
                &:hover {
                    color: $value;
                }
            }
        }

        // === Background ===
        @each $id, $value in -map-get($config, generate background) {
            #{-helper-selector(bg $id)} {
                // Check to allow gradients
                @if (type_of($value) == color) {
                    background-color: $value;
                } @else {
                    background: $value;
                }
            }
        }

        // === Background hover ===
        @each $id, $value in -map-get($config, generate backgroundHover) {
            #{-helper-selector(bgHover $id)} {
                &:hover {
                    // Check to allow gradients
                    @if (type_of($value) == color) {
                        background-color: $value;
                    } @else {
                        background: $value;
                    }
                }
            }
        }

        // === Themes ===
        @each $id, $value in -map-get($config, generate themes) {
            $colorBg: nth($value, 1);
            $colorTxt: nth($value, 2);
            $colorBorder: nth($value, 3);

            #{-helper-selector(theme $id)} {
                color: $colorTxt;
                background-color: $colorBg;
                border-color: $colorBorder;
            }
        }
    }
}

@if ($-config-renderHelper) {
    @include -helper($-helper-colors);
}
