/*===============================================================*
    HELPER: flexbox item
\*===============================================================*/

$-helper-flex-item: () !default;

@mixin -helper($config: ()) {
    $defaults: (
        type: attr,
        selector: layout-flex-item,
    );

    @include -helper-render($config, $defaults) {

        // Flex grow
        @each $key, $value in (
            true: 1,
            false: 0
        ) {
            #{-helper-selector(grow $key)} {
                flex-grow: $value;
            }
        }

        // Allow/disallow shrink of element to minimum width
        #{-helper-selector(shrink true)} {
            min-width: 0;
        }

        #{-helper-selector(shrink false)} {
            flex-shrink: 0;
        }

        // Flex order
        @each $key, $value in (
            up: 1,
            down: -1
        ) {
            #{-helper-selector(order $key)} {
                order: $value;
            }
        }

        // Cross axis (vertical in row direction, horizontal in column)
        @each $key, $value in (
            top: flex-start,
            bottom: flex-end,
            center: center,
            stretch: stretch,
            baseline: baseline
        ) {
            #{-helper-selector(crossSelf $key)} {
                align-self: $value;
            }
        }
    }
}

@if ($-config-renderHelper) {
    @include -helper($-helper-flex-item);
}
