/*===============================================================*
    HELPER: flexbox container
\*===============================================================*/

$-helper-flex: () !default;

@mixin -helper($config: ()) {
    $defaults: (
        type: attr,
        selector: layout-flex,
    );

    @include -helper-render($config, $defaults) {
        //-------------------------------------------
        //  Default styles
        //-------------------------------------------

        @if (not $-global-breakpointType) {
            %-flex,
            #{-helper-selector()} {
                display: flex !important;
            }

            // Prepend pseudo flex item to always push last container row items
            #{-helper-selector(pushLastRow true)} {
                &:after {
                    content: '';
                    flex-grow: 1;
                }
            }
        }

        //-------------------------------------------
        //  Flex container styles
        //-------------------------------------------

        // Flex direction
        @each $key, $value in (
            row: row,
            column: column,
            row-rev: row-reverse,
            column-rev: column-reverse
        ) {
            #{-helper-selector(dir $key)} {
                flex-direction: $value;
            }
        }

        // Flex wrap
        @each $key, $value in (
            true: wrap,
            false: nowrap
        ) {
            #{-helper-selector(wrap $key)} {
                flex-wrap: $value;
            }
        }

        // Main axis (horizontal in row direction, vertical in column)
        @each $key, $value in (
            start: flex-start,
            end: flex-end,
            center: center,
            between: space-between,
            around: space-around
        ) {
            #{-helper-selector(main $key)} {
                justify-content: $value;
            }
        }

        // Cross axis (vertical in row direction, horizontal in column)
        @each $key, $value in (
            start: flex-start,
            end: flex-end,
            center: center,
            stretch: stretch,
            baseline: baseline
        ) {
            #{-helper-selector(cross $key)} {
                align-items: $value;
            }
        }

        // Make flex items equal width
        #{-helper-selector(equalWidth true)} > * {
            flex-grow: 1;
            flex-basis: 0;
        }

    }
}

@if ($-config-renderHelper) {
    @include -helper($-helper-flex);
}
