/*===============================================================*
  HELPER: generates sides properties (top, left, bottom, right)
\*===============================================================*/

// Example
$-helper-generator-sides: (
    generate: (
        property: max-width,
        selector: maxW,
        generate: (
            10 \%: 10%,
        )
    ),
) !default;

@mixin -helper($config: ()) {
    $defaults: (
        type: class,
        abbreviations: (
            top: a v t,
            bottom: a v b,
            left: a h l,
            right: a h r,
        ),
    );

    // Make list always bigger than one item, because Sass treats '$var: ();' as a map
    $helpers: -map-get($config, generate);
    @if (type_of($helpers) == map) {
        $helpers: append((), -map-get($config, generate));
    }

    @each $helper in $helpers {
        // Check if not the appended empty list
        @if (type_of($helper) == map) {

            @include -helper-render($helper, $defaults) {
                $selector: map_get($helper, selector);
                $prefix: map_get($helper, prefix);

                @each $entryId, $entryData in map_get($helper, generate) {
                    // Extract entry data
                    $entryValue: nth($entryData, 1);
                    $entryAbbrs: nth($entryData, 2);

                    // generate map of prop: allSelectors
                    $propsToGenerate: ();

                    @each $prop, $propAbbrs in map_get($defaults, abbreviations) {
                        $allSelectors: ();

                        @each $abbr in $entryAbbrs {
                            @if (index($propAbbrs, $abbr)) {
                                $generatedSelector: -helper-selector($abbr $entryId, $selector);
                                $allSelectors: append($allSelectors, $generatedSelector, comma);
                            }
                        }

                        @if (length($allSelectors) > 0) {
                            $propsToGenerate: map_merge($propsToGenerate, ($prop: $allSelectors));
                        }
                    }

                    // generate CSS styles
                    @each $prop, $allSelectors in $propsToGenerate {
                        #{$allSelectors} {
                            #{$prefix + $prop}: $entryValue;
                        }
                    }
                }
            }
        }
    }
}

@if ($-config-renderHelper) {
    @include -helper($-helper-generator-sides);
}
