/*===============================================================*
    HELPER: generates simple prop: value helpers
\*===============================================================*/

// Example
$-helper-generator-simple: (
    generate: (
        property: max-width,
        selector: maxW,
        generate: (
            10 \%: 10%,
        )
    ),
) !default;

@mixin -helper($config: ()) {
    $defaults: (
        type: class,
    );

    // Make list always bigger than one item, because Sass treats '$var: ();' as a map
    $helpers: -map-get($config, generate);
    @if (type_of($helpers) == map) {
        $helpers: append((), -map-get($config, generate));
    }

    @each $helper in $helpers {
        // Check if not the appended empty list
        @if (type_of($helper) == map) {

            @include -helper-render($helper, $defaults) {
                $property: map_get($helper, property);
                @each $id, $value in map_get($helper, generate) {
                    #{-helper-selector($id)} {
                        #{$property}: $value;
                    }
                }
            }
        }
    }
}

@if ($-config-renderHelper) {
    @include -helper($-helper-generator-simple);
}
