/*===============================================================*
    HELPER: gutter - adds space between items
\*===============================================================*/

$-helper-gutter: () !default;

@mixin -helper($config: ()) {
    $defaults: (
        type: attr,
        selector: layout-gutter,
        property: padding,
    );

    @include -helper-render($config, $defaults) {
        $gutterTypeBorder: map_get($-global-helper, property) == border;
        $gutterTypePadding: map_get($-global-helper, property) == padding;

        // Default styles
        @if (not $-global-breakpointType) {
            #{-helper-selector()} {
                //overflow: hidden;

                > * {
                    background-clip: content-box;

                    @if ($gutterTypeBorder) {
                        border: 0 solid transparent;
                    }
                }
            }
        }

        @each $id, $value in map_get($-global-helper, generate) {
            // Vertical (v)
            #{-helper-selector(a $id)},
            #{-helper-selector(v $id)} {
                margin-top: -$value;

                > * {
                    @if ($gutterTypeBorder) {
                        border-top-width: $value;
                    }
                    @if ($gutterTypePadding) {
                        padding-top: $value;
                    }
                }
            }

            // Horizontal (h)
            #{-helper-selector(a $id)},
            #{-helper-selector(h $id)} {
                margin-left: -$value;

                > * {
                    @if ($gutterTypeBorder) {
                        border-left-width: $value;
                    }
                    @if ($gutterTypePadding) {
                        padding-left: $value;
                    }
                }
            }
        }
    }
}

@if ($-config-renderHelper) {
    @include -helper($-helper-gutter);
}
