/*===============================================================*
    HELPER: gutter-separator
\*===============================================================*/

$-helper-gutter-separator: () !default;

@mixin -helper($config: ()) {
    $defaults: (
        type: attr,
        selector: gutter-separator,
    );

    @include -helper-render($config, $defaults) {
        #{-helper-selector()} {
            &:before {
            	content: '';
                display: block;
            }
        }

        @each $id, $value in -map-get($-global-helper, generate themes) {
            #{-helper-selector(theme $id)} {
                &:before {
                    background-color: $value;
                }
            }
        }

        @each $id, $value in -map-get($-global-helper, generate sizes) {
            #{-helper-selector(size $id)} {
                &:before {
                    width: $value;
                    margin-left: -$value;
                    z-index: 1;
                }
            }
        }
    }
}

@if ($-config-renderHelper) {
    @include -helper($-helper-gutter-separator);
}
