/*===============================================================*
    HELPER: types
\*===============================================================*/

$-helper-types: (
    // (id: value)
    generate: (),
) !default;

@mixin -helper($config: ()) {
    $defaults: (
        type: class,
        selector: type,
    );

    @include -helper-render($config, $defaults) {
        @each $id, $value in -map-get($config, generate) {
            #{-helper-selector($id)} {
                @include -type($value);
            }
        }
    }
}

@if ($-config-renderHelper) {
    @include -helper($-helper-types);
}
