/*===============================================================*
	MODULE: Vue transitions
\*===============================================================*/

// === slide ===
.slideRight-enter-active,
.slideRight-leave-active {
    will-change: transform, filter;
    transition-property: transform, filter;
}

.slideRight-enter {
    filter: opacity(0);
    transform: translateX(5rem);
}

.slideRight-leave-to {
    filter: opacity(0);
    transform: translateX(-5rem);
}

// === fade ===
.fade-enter-active,
.fade-leave-active {
    will-change: filter;
    transition-property: filter;
}

.fade-enter,
.fade-leave-to {
    filter: opacity(0);
}

// === bounce ===
.bounceFade-enter-active {
    will-change: transform, filter;
    animation: bounceFade $-trans-duration;
}

.bounceFade-leave-active {
    will-change: transform, filter;
    animation: bounceFade reverse $-trans-duration;
}

@keyframes bounceFade {
    0% {
        filter: opacity(0);
        transform: scale(.25);
    }
    100% {
        filter: opacity(1);
        transform: scale(1);
    }
}

