/*===============================================================*
	BASE: button styles
\*===============================================================*/

%-button,
button {
    display: inline-block;
    vertical-align: middle;
    max-height: 100px;
    height: $-button-height;
    padding: 0 $-button-paddingH;
    font-size: $-button-fontSize;
    color: $-button-color;
    background: $-button-bg;
    border: $-button-border;
    border-radius: $-button-borderRadius;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    transition-property: $-link-transitionProperty;

    @include -text-ellipsis();

    @extend %-state-hover !optional;
    @extend %-state-active !optional;
    @extend %-state-disabled !optional;
}
