/*===============================================================*
    BASE: forms elements styles
\*===============================================================*/

/* === Basic input styles === */
// 2. Webkit blurred input fix
// 3. Make siblings vertical centered
input,
select,
textarea {
	display: inline-block;
    vertical-align: middle;
    padding: 0 $-input-paddingH;
	font-size: $-input-fontSize;
	color: $-input-color;
    background: $-input-bg;
	border: $-input-border;
	border-radius: $-input-borderRadius;
	-webkit-filter: blur(0); // 2.

    // 3.
	~ * {
		vertical-align: middle;
	}
}

input:not([type="radio"]):not([type="checkbox"]),
select:not([multiple]) {
    height: $-input-height;
}

/* === Checboxes/radios === */
input[type="checkbox"],
input[type="radio"] {
	margin-right: $-checkable-margin;
	padding: 0;
	cursor: pointer;
}

/* === Select === */
select {
}

/* === Textarea === */
// 1. allow only vertical resizing of textareas
textarea {
	height: auto;
	max-height: $-textarea-maxHeight;
    resize: vertical; // 1.
}

/* === Validation === */
input,
select,
textarea {
    &.-is:valid {
        border-color: $-input-valid-border;
        box-shadow: $-input-valid-boxShadow;
    }

	&.-is:invalid {
        border-color: $-input-invalid-border;
        box-shadow: $-input-invalid-boxShadow;
	}
}

// === Label ===
label {
	display: inline-block;
	vertical-align: middle;
	font-size: $-label-fontSize;

	&[for] {
		cursor: pointer;
	}
}
