/*===============================================================*
    BASE: common elements style
\*===============================================================*/

// === Global settings ===
*,
*:before,
*:after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    transition-property: none;
    transition-duration: $-trans-duration;
    transition-timing-function: $-trans-function;
}

// === HTML ===
html {
    height: 100%;
    font-size: $-fontSize-base;

    @each $breakpointId, $fontSize in $-respond-htmlFontSize {
        @include -respond($breakpointId) {
            font-size: $fontSize;
        }
    }
}

// === Body ===
body {
    position: relative;
    min-height: 100%;
    @if ($-body-minWidth) {
        min-width: $-body-minWidth;
    }
    padding-top: .1px; // to prevent margin overflow for first elem
    font-family: $-fontFamily-content;
    font-size: $-fontSize-content;
    font-weight: $-fontWeight-content;
    line-height: $-lineHeight-content;
    color: $-body-color;
    background: $-body-bg;
    overflow-y: scroll;
    overflow-x: hidden;
}

// === Links ===
a {
    color: $-link-color;
    text-decoration: $-link-decoration;
    transition-property: $-link-transitionProperty;

    @extend %-state-hover !optional;
    @extend %-state-active !optional;
}

// === Images ===
img {
    max-width: 100%;
    box-sizing: content-box;
    // Image quality improve
    image-rendering: optimizeQuality;

    // Images with [height] attribute will respect it
    &:not([height]) {
        height: auto;
    }
}

// === Block elements ===
%-block-spacing-noFirst {
    &:first-child {
        margin-top: 0;
    }
}

%-block-spacing-noLast {
    &:last-child {
        margin-bottom: 0;
    }
}

@each $item in $-block-spacing {
    #{map_get($item, selectors)} {
        @extend %-block-spacing-noFirst;
        @extend %-block-spacing-noLast;
        margin-top: map_get($item, space);
        margin-bottom: map_get($item, space);
    }
}

// === Paragraphs ===
p {
}

// === Lists ===
ul,
ol {
    margin-left: 0;
    padding-left: 0;
    list-style: inside;
    text-indent: $-list-indent;

    li {
        @extend %-block-spacing-noFirst;
    }
}

// === Tables ===
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: $-table-cell-padding;
    text-align: left;
    border: $-table-cell-border;
}

th {
}

// === Headings ===
h1,
h2,
h3,
h4,
h5,
h6 {
    @if ($-heading-color) {
        color: $-heading-color;
    }
    font-family: $-heading-fontFamily;
    font-weight: $-heading-fontWeight;
    line-height: $-heading-lineHeight;
}

// === Heading typography ===
@each $heading, $type in $-heading-typography {
    #{$heading} {
        @include -type($type);
    }
}

// === Other ===
hr {
    border: 0;
    border-top: $-hr-border;
    clear: both;
}

// remove the gap between media elements and the bottom of their containers
audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}
