@if ($-config-dev) {
    /*===============================================================*
        Development helpers
    \*===============================================================*/

    // === Responsive helper - show current breakpoint ===
    @if (-map-get($-config-devHelpers, responsive enabled)) {
        body:before {
            display: block;
            position: fixed;
            top: 100%;
            left: 0;
            font-family: monospace;
            font-size: 14px;
            line-height: 1;
            color: -map-get($-config-devHelpers, responsive color);
            z-index: 9999;
            transform-origin: left top;
            transform: rotate(-90deg);

            @each $id, $breakpoint in -map-get($-config-devHelpers, responsive breakpoints) {
                @include -respond-in($id) {
                    content: quote($id);
                }
            }
        }
    }
}
