//===============================================================
//  FUNCTION: Color variator
//  modification args should be number between -10 and 10
//===============================================================

@function -color($color, $lightness: 0, $saturation: 0, $alpha: 0) {
    $lightness: round($lightness) * 10%;
    $saturation: round($saturation) * 10%;
    $alpha: round($alpha) * 10%;
    @return scale-color($color, $lightness: $lightness, $saturation: $saturation, $alpha: $alpha);
}

//===============================================================
//  FUNCTION: Z-index helper
//===============================================================

@function -zIndex($id) {
    @return map_get($-zIndexes, $id);
}

//===============================================================
//  FUNCTION: Strip units
//===============================================================

@function -stripUnits($number) {
    @return $number / ($number * 0 + 1);
}

//===============================================================
//  FUNCTION: Detect if number is integer
//===============================================================

@function -isInteger($number) {
    @return $number == round($number);
}

//===============================================================
//  FUNCTION: Floor value after needed decimal point.
//  Example: floor-decimals(12.5983) -> 12.59
//===============================================================

@function -floorDecimals($value, $numbersAfterComa: 4) {
    $multiplier: 1;
    @for $i from 0 to $numbersAfterComa {
        // $value * 10^x
        $multiplier: $multiplier * 10;
    }

    @return floor( $value * $multiplier) / $multiplier;
}

//===============================================================
//  FUNCTION: Calculate relative line height from px values
//===============================================================

@function -lineHeight($lineHeightPX, $fontSizePX) {
    $lineHeight: -stripUnits($lineHeightPX / $fontSizePX);
    @return -floorDecimals($lineHeight, 3);
}

//===============================================================
//  FUNCTION: Calculate percentage width of children
//  relative to its container width
//===============================================================

@function -childWidth($childWidth, $parentWidth) {
    @return -floorDecimals($childWidth * 100% / $parentWidth);
}

//===============================================================
//  FUNCTION: join list to string, skip null values
//  http://hugogiraudel.com/2013/08/08/advanced-sass-list-functions/#miscellaneous
//===============================================================

@function -join($list, $separator: '') {
    $result: ();
    @for $i from 1 through length($list) {
        $item: nth($list, $i);
        @if type-of($item) == list {
            $item: -join($item, $separator);
        }
        @if ($item != null) {
            $result: if($i == 1, #{$item}, #{$result}#{$separator}#{$item});
        }
    }
    @return $result;
}

//===============================================================
//  FUNCTION: replace `$search` with `$replace` in `$string`
//  https://css-tricks.com/snippets/sass/str-replace-function/
//===============================================================

@function -replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return -join(
                str-slice($string, 1, $index - 1)
                $replace
                -replace(str-slice($string, $index + str-length($search)), $search, $replace)
        )
    }

    @return $string;
}

//===============================================================
//  FUNCTION: zips lists better than Sass native function
//===============================================================

@function -zip($list1, $list2, $seperator: 'auto') {
    @each $item in $list2 {
        $list1: append($list1, $item, $seperator);
    }
    @return $list1;
}

//===============================================================
//  FUNCTION: Units converter
//===============================================================

@function -px($size, $base: null) {
    @if ($-config-unitConversion and unit($size) != 'px') {
        @if (not $base) {
            @if (unit($size) == 'em') {
                $base: -px($-fontSize-content, $-fontSize-base);
            } @else if (unit($size) == 'rem') {
                $base: $-fontSize-base;
            }
        }
        @return -stripUnits($size * $base) * 1px;
    } @else {
        @return $size;
    }
}

@function -rem($sizePX, $basePX: $-fontSize-base) {
    @if ($-config-unitConversion) {
        @return -stripUnits($sizePX / $basePX) * 1rem;
    } @else {
        @return $sizePX;
    }
}

@function -em($sizePX, $basePX: -px($-fontSize-content, $-fontSize-base)) {
    @if ($-config-unitConversion) {
        @return -stripUnits($sizePX / $basePX) * 1em;
    } @else {
        @return $sizePX;
    }
}

//===============================================================
//  FUNCTION: For consistent selectors naming
//===============================================================

@function -selectorFormatter($configKey, $template, $data, $withRespond) {
    $separator: -map-get($-config-naming, separator, '');
    $searchAndReplace: map_merge($data, (
        '$sep': $separator,
        '$pre': -map-get($-config-naming, -zip(prefix, $configKey), ''),
        '$suff': -map-get($-config-naming, -zip(suffix, $configKey), ''),
        '$resPre': '',
        '$resSuff': '',
    ));

    // Check if respond stuff needed
    @if ($withRespond and $-global-breakpointType and $-global-breakpointName) {
        $breakpoint: -join($-global-breakpointName, $separator);
        $data: map_merge($data, (
            '$resPre': -map-get($-config-naming, prefix respond $-global-breakpointType, '') + $breakpoint,
            '$resSuff': -map-get($-config-naming, suffix respond $-global-breakpointType, '') + $breakpoint,
        ));
    }

    // Replace each data in template
    $result: $template;
    @each $search, $replace in $searchAndReplace {
        $replace: -join($replace, $separator);
        $result: -replace($result, $search, $replace);
    }

    // Return formatted selector
    @return $result;
}

//===============================================================
//  FUNCTION: Module state selector generator
//===============================================================

@function -state($values, $withRespond: false) {
    $template: '.$resPre$pre$val$suff$resSuff';

    // Generate selector
    $selector: -selectorFormatter(state, $template, (
        '$val': $values,
    ), $withRespond);

    @return $selector;
}
