/*===============================================================*
	Global variables
\*===============================================================*/

// Current rendered helper config
$-global-helper: ();

// Current rendered breakpoint
$-global-breakpointType: null;
$-global-breakpointName: null;
