//===============================================================
//  Helper content generator
//  because helper defines itself as '-helper' mixin,
//  calling '-helper-render' loads current defined helper
//===============================================================
@import '../framework/maps';
@import '../framework/respond';

//-------------------------------------------
//  Generates helper selector
//-------------------------------------------

@function -helper-selector($values: null, $selector:  map_get($-global-helper, selector)) {
    $helperType: map_get($-global-helper, type);
    $template: '';

    @if ($helperType == class) {
        $template: '.$resPre$pre$id$sep$val$suff$resSuff';
    }

    @if ($helperType == attr) {
        @if (not $values) {
            $template: '[$pre$id$suff]';
        } @else {
            $template: '[$pre$id$suff~="$resPre$val$resSuff"]';
        }
    }

    // Generate selector
    @return -selectorFormatter(helper $helperType, $template, (
        '$id': $selector,
        '$val': $values,
    ), true);
}

//-------------------------------------------
//  Prepares globals and renders helper
//-------------------------------------------

@mixin -helper-render($config, $defaults: ()) {
    // Merge helper defaults with custom config and expose as global
    $config: -map-merge-deep($config, $defaults);
    $-global-helper: $config !global;

    // Render default helper content
    @include -respond(null) {
        @content;
    }

    // Render responsive helper content
    @each $breakpointType in (to from in) {
        // check if helper has breakpoint list of type defined
        $breakpoints: -map-get($config, respond $breakpointType);

        @if $breakpoints {
            @each $nameOrNames in $breakpoints {
                @include -respond($nameOrNames, $breakpointType) {
                    @content;
                }
            }
        }
    }
}
