//===============================================================
//  SASS map helpers
//  inspiration:
//  https://css-tricks.com/snippets/sass/deep-getset-maps/
//  http://www.sassmeister.com/gist/7525f0546479acd1d6e1
//===============================================================

//===============================================================
//  FUNCTION: can get deep key of nested map,
//  returns optional default value if key not found
//===============================================================

@function -map-get($map, $keys, $default: null) {
    @each $key in $keys {
        @if (map_has_key($map, $key)) {
            $map: map_get($map, $key);
        } @else {
            @return $default;
        }
    }
    @return $map;
}

//===============================================================
//  FUNCTION: deep set/update a value in nested maps
//  value is the last key in $keys
//===============================================================

@function -map-set($map, $keys) {
    $map-list: ($map,);
    $result: null;

    @if length($keys) == 2 {
        @return map_merge($map, (nth($keys, 1): nth($keys, -1)));
    }

    @for $i from 1 through length($keys) - 2 {
        $map-list: append($map-list, map_get(nth($map-list, -1), nth($keys, $i)));
    }

    @for $i from length($map-list) through 1 {
        $result: map_merge(nth($map-list, $i), (nth($keys, $i): if($i == length($map-list), nth($keys, -1), $result)));
    }

    @return $result;
}

//===============================================================
//  FUNCTION: recursively merge maps
//===============================================================

@function -map-merge-deep($map, $maps...) {
    $last: nth($maps, -1);
    $max: length($maps);

    // Loop through all maps in $objects...
    @for $i from 1 through $max {
        // Store current map
        $current: nth($maps, $i);

        // Loop through all tuples in current map
        @each $key, $value in $current {
            // If value is a nested map and same key from object is a nested map as well
            @if type-of($value) == map and type-of(map_get($map, $key)) == map {
                // Recursive extend
                $value: -map-merge-deep(map_get($map, $key), $value, true);
            }
            // Merge current tuple with object
            $map: map_merge($map, ($key: $value));
        }
    }

    @return $map;
}

//===============================================================
//  FUNCTION: reduce map leaving only
//  one value of specific key or index
//===============================================================

@function -map-reduce($map, $keyOrIndex) {
    $result: ();
    @each $key, $value in $map {
        @if (type_of($value) == list) {
            $result: map_merge($result, (#{$key}: nth($value, $keyOrIndex)))
        }
        @if (type_of($value) == map) {
            $result: map_merge($result, (#{$key}: map_get($value, $keyOrIndex)))
        }
    }

    @return $result;
}
