//===============================================================
//  MIXIN: Block with aspect ratio
//===============================================================

@mixin -ratioBlock($width, $height, $position: relative, $styleChild: true) {
    &:before {
        content: '';
        display: block;
        padding-top: $height / $width * 100%;
    }

    @if ($position) {
        position: $position;
    }

    @if ($styleChild) {
        > * {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }
}

//===============================================================
//  MIXIN: Font face
//===============================================================

@mixin -fontFace($name, $fileName, $fileTypes: eot woff2 woff ttf svg, $weight: normal, $style: normal, $dir: $-dir-fonts) {
    $srcTypes: (
        eot: url('#{$dir}/#{$fileName}.eot?#iefix') format('eot'),
        woff2: url('#{$dir}/#{$fileName}.woff2') format('woff2'),
        woff: url('#{$dir}/#{$fileName}.woff') format('woff'),
        ttf: url('#{$dir}/#{$fileName}.ttf') format('truetype'),
        svg: url('#{$dir}/#{$fileName}.svg') format('svg')
    );
    $src: '';
    @each $type in $fileTypes {
        $src: $src + map_get($srcTypes, $type);
        @if (index($fileTypes, $type) != length($fileTypes)) {
            $src: $src + ', ';
        }
    }

    @font-face {
        font-family: $name;
        src: unquote($src);
        font-weight: $weight;
        font-style: $style;
    }
}

//===============================================================
//  MIXIN: Type generator
//===============================================================

@mixin -type($config) {
    $props: (
        font-size: nth($config, 1),
        line-height: if(length($config) >= 2, nth($config, 2), null),
        font-weight: if(length($config) >= 3, nth($config, 3), null),
        font-family: if(length($config) == 4, nth($config, 4), null),
    );

    @each $prop, $value in $props {
        @if ($value) {
            #{$prop}: $value;
        }
    }
}

//===============================================================
//  MIXIN: Text ellipsis
//===============================================================

@mixin -text-ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
