//===============================================================
//  RESPOND
//  wrapper for 'breakpoint-slicer'
//  @see https://github.com/lolmaus/breakpoint-slicer
//===============================================================
@import '~breakpoint-sass';
@import '~breakpoint-slicer';

$slicer-breakpoints: map_values($-config-breakpoints);
$slicer-breakpoint-names: map_keys($-config-breakpoints);
$slicer-anti-overlap-corrections: 1px;

//-------------------------------------------
//  Aliases to 'breakpoint-slicer'
//-------------------------------------------

// @include -respond-in(2) { ... }
// 0 - 320 + 720 - 1200 -
// @include -respond-in(2 3) { ... }
// 0 - 320 + 720 + 1200 -
@mixin -respond-in($names) {
    $-global-breakpointName: $names !global;
    $-global-breakpointType: 'in' !global;
    $name1: nth($names, 1);
    $name2: if(length($names) == 2, nth($names, 2), null);

    @if ($name1 and $name2) {
        /* respond-in(#{$name1} #{$name2}) */
        @include between($name1, $name2) {
            @content;
        }
    } @else {
        /* respond-in(#{$name1}) */
        @include at($name1) {
            @content;
        }
    }
}

// @include -respond-from(3) { ... }
// 0 - 320 - 720 + 1200 +
@mixin -respond-from($name) {
    $-global-breakpointName: $name !global;
    $-global-breakpointType: 'from' !global;

    /* respond-from(#{$name}) */
    @include from($name) {
        @content;
    }
}

// @include -respond-to(2) { ... }
// 0 + 320 + 720 - 1200 -
@mixin -respond-to($name) {
    $-global-breakpointName: $name !global;
    $-global-breakpointType: 'to' !global;

    /* respond-to(#{$name}) */
    @include to($name) {
        @content;
    }
}

//-------------------------------------------
//  Default respond helper based on
//  media query or breakpoint type
//-------------------------------------------

@mixin -respond($nameOrNames, $mediaQueryOrType: $-config-defaultMediaQuery) {
    $-global-breakpointName: null !global;
    $-global-breakpointType: null !global;

    $mobileFirst: $mediaQueryOrType == 'min-width';
    $desktopFirst: $mediaQueryOrType == 'max-width';

    // Don't render media query if no breakpoint name
    @if (not $nameOrNames) {
        @content;
    } @else {
        @if (length($nameOrNames) > 1 or $mediaQueryOrType == 'in') {
            @include -respond-in($nameOrNames) {
                @content;
            }
        } @else {
            @if ($mobileFirst or $mediaQueryOrType == 'from') {
                @include -respond-from($nameOrNames) {
                    @content;
                }
            }
            @if ($desktopFirst or $mediaQueryOrType == 'to') {
                @include -respond-to($nameOrNames) {
                    @content;
                }
            }
        }
    }
}
