<template>
    <main class="maxW:content marg:h:auto pad:v:3 pad:h:3"
          layout-flex="dir:column cross:stretch"
          layout-flex-item="grow:true">
        <slot/>
    </main>
</template>

<script type="text/babel">
    export default {};
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
