<template>
    <header class="pad:h:3 c:bg:primary c:theme:primary">
        <layout-flex dir="row" main="between" layout-gutter="h:3">
            <div>
                <transition name="fade" mode="out-in">
                    <h1 :key="pageTitle" class="pad:v:2">
                        {{ pageTitle }}
                    </h1>
                </transition>
            </div>
            <div>
                <ui-navigation></ui-navigation>
            </div>
        </layout-flex>
    </header>
</template>

<script type="text/babel">
    import { mapState } from 'vuex';

    export default {
        computed: {
            ...mapState('app', ['pageTitle']),
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
