<template>
    <footer class="pad:v:2 pad:h:3 c:bg:secondary c:theme:secondary">
        <layout-flex wrap dir="row" main="between" layout-gutter="v:1 h:3">
            <div>
                <p>
                    {{ $state.app.appTitle }}
                    <small class="type:small">
                        {{ $state.app.version }}
                    </small>
                </p>
            </div>
            <div>
                <p>
                    <small class="type:small">
                        made with <span class="c:txt:primary">♥</span>
                        and <a href="https://vuejs.org" target="_blank">Vue.js</a>
                    </small>
                </p>
            </div>
        </layout-flex>
    </footer>
</template>

<script type="text/babel">
    export default {};
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
