<!----------------------------------------------------
	Template entry point
 ------------------------------------------------------>

<template>
    <layout-flex class="App pos:rel minH:100vh"
                 :class="classes">

        <transition name="fade" mode="out-in" appear>

            <!-- welcome -->
            <app-main v-if="level === 'guest'" key="welcome" class="c:theme:primary">
                <router-view></router-view>
            </app-main>

            <!-- logged in-->
            <layout-flex v-else key="app" class="c:theme:default" grow>

                <app-header></app-header>

                <!-- app content -->
                <app-main>
                    <transition name="slideRight" mode="out-in">
                        <keep-alive>
                            <router-view/>
                        </keep-alive>
                    </transition>
                </app-main>

            </layout-flex>

        </transition>

        <app-footer></app-footer>
    </layout-flex>
</template>

<script type="text/babel">
    import { mapGetters, mapState } from 'vuex';

    export default {
        computed: {
            ...mapState('app', ['classes']),
            ...mapGetters('user', ['level']),
        },
    };
</script>

<style lang="scss">
</style>
