<!----------------------------------------------------
	Flexbox layout container.
 ------------------------------------------------------>

<template>
    <div class="Flex"
         :class="{ '-defaultWidth': defaultWidth }"
         :layout-flex="flexAttr"
         :layout-flex-item="flexItemAttr">
        <slot/>
    </div>
</template>

<script type="text/babel">
    export default {
        props: {
            defaultWidth: {
                type: Boolean,
                default: true,
            },

            /* Flex container props */

            //  Flex direction: row, column, row-rev, column-rev
            dir: {
                type: String,
                default: 'column',
            },
            // Flex wrap: true, false
            wrap: {
                type: Boolean,
                default: undefined,
            },
            // Main axis justify-content: star, end, center, between, around
            main: String,
            // Cross axis: top, bottom, center, stretch, baseline
            cross: {
                type: String,
                default: 'stretch',
            },
            // Make flex items equal width: true, false
            equalWidth: {
                type: Boolean,
                default: undefined,
            },
            // Prepend pseudo flex item to always push last container row items
            pushLastRow: {
                type: Boolean,
                default: undefined,
            },

            /* Flex item props */

            // Flex grow: true, false
            grow: {
                type: Boolean,
                default: undefined,
            },
            // Allow/disallow shrink of element to minimum width: true, false
            shrink: {
                type: Boolean,
                default: undefined,
            },
            // Flex order: up, down
            order: String,
            // Cross axis align-self: top, bottom, center, stretch, baseline
            crossSelf: String,
        },

        computed: {
            flexAttr() {
                return this.propsToAttr(['dir', 'wrap', 'main', 'cross', 'equalWidth', 'pushLastRow']);
            },
            flexItemAttr() {
                return this.propsToAttr(['grow', 'shrink', 'order', 'crossSelf']);
            },
        },

        methods: {
            // Converts [ prop, ... ] object to 'prop:value ...'
            propsToAttr(keys, propObject = this.$props) {
                return keys.reduce((result, prop) => {
                    if (propObject[prop] !== undefined) {
                        result.push(`${prop}:${propObject[prop]}`);
                    }
                    return result;
                }, []).join(' ');
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
    @import '../scss/framework/index';

    .Flex {
        &#{-state(defaultWidth)} {
            // Make items full width in column dir by default
            &[layout-flex~="dir:column"] > * {
                width: 100%;
            }
        }
    }
</style>
