<template>
    <layout-flex layout-gutter="v:3" v-if="feed">
        <ui-feeds-list :feeds="[feed]"/>
        <ui-posts-list :feed="feed"/>
    </layout-flex>
</template>

<script type="text/babel">
    export default {
        data() {
            return {
                feedIndex: parseInt(this.$route.params.index, 10),
            };
        },

        computed: {
            feed() {
                return this.$state.feeds.feeds[this.feedIndex];
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
