<template>
    <div>
        <ui-feeds-list :feeds="favorites">
            <template slot="actions" scope="props">
                <ui-button
                    theme="danger"
                    :title="$lang('favorites.remove')"
                    @click.native="$store.dispatch('feeds/FAVORITES_REMOVE', props.feed)">
                    <ui-icon name="delete"/>
                </ui-button>
            </template>
        </ui-feeds-list>
    </div>
</template>

<script type="text/babel">
    import { mapGetters } from 'vuex';

    export default {
        name: 'route-favorites',
        computed: {
            ...mapGetters('feeds', ['favorites']),
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
