<template>
    <layout-flex layout-gutter="v:3">
        <layout-flex>
            <label for="autocomplete">Scraped feeds:</label>
            <select id="autocomplete" @change="query = $event.target.value">
                <option value="" selected disabled>Select feed</option>
                <option v-for="feed in autocomplete" :value="feed.url">{{ feed.title }}</option>
            </select>
        </layout-flex>

        <ui-search-form v-model="query" @submit.native="handleSubmit"/>

        <transition name="fade" mode="out-in">
            <p v-if="isInProgress">
                Loading...
            </p>

            <layout-flex v-if="isOk" layout-gutter="v:3">
                <p class="marg:b:0">Results:</p>

                <ui-feeds-list :feeds="[lastFeed]">
                    <template slot="actions" scope="props">
                        <ui-button
                            :theme="!props.feed.isIn.favorites ? 'safe' : 'danger'"
                            :title="$lang(!props.feed.isIn.favorites ? 'favorites.add' : 'favorites.remove')"
                            @click.native="$store.dispatch(!props.feed.isIn.favorites ? 'feeds/FAVORITES_ADD' : 'feeds/FAVORITES_REMOVE', props.feed)">
                            <ui-icon name="heart"/>
                        </ui-button>
                    </template>
                </ui-feeds-list>

                <ui-posts-list :feed="lastFeed"/>
            </layout-flex>

            <p v-if="isError">
                Error:
                {{ error }}
            </p>
        </transition>
    </layout-flex>
</template>

<script type="text/babel">
    import { mapState, mapGetters } from 'vuex';

    export default {
        data() {
            return {
                query: '',
                autocomplete: require('../modules/rssFeeds.json'),
            };
        },

        created() {
            // Check if search query defined in url query param
            this.query = this.$route.query[this.$lang('search.queryParam')] || '';
        },

        methods: {
            handleSubmit() {
                // Update query parameter in browser url
                this.$router.replace({
                    name: this.$route.name,
                    query: {
                        [this.$lang('search.queryParam')]: this.query,
                    },
                });
            },
        },

        computed: {
            ...mapState('api', ['error', 'isInProgress', 'isOk', 'isError']),
            ...mapGetters('feeds', ['lastFeed']),
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
