<template>
    <layout-flex cross="center">

        <!-- title -->
        <div class="pad:v:5% txt:align:center c:txt:light">
            <h1 v-if="isFirstVisit">{{ $lang('welcome.firstTime.hi') }}</h1>
            <h1 v-else>{{ $lang('welcome.returning.hi') }}</h1>
        </div>

        <!-- sign up/log in -->
        <ui-box theme="gray">
            <form @submit.prevent="handleSubmit()">
                <h4>
                    <transition v-if="isFirstVisit" name="fade" mode="out-in">
                        <span v-if="!name" key="empty">
                            {{ $lang('welcome.firstTime.name.empty') }}
                        </span>
                        <span v-else key="entered">
                            {{ $lang('welcome.firstTime.name.entered') }}
                        </span>
                    </transition>

                    <span v-else>
                        {{ $lang('welcome.returning.name') }}
                    </span>
                </h4>

                <p>
                    <input class="width:100%"
                           type="text"
                           :placeholder="$lang('welcome.firstTime.name.placehold')"
                           required
                           v-model="name">
                </p>

                <layout-flex dir="row" main="end">
                    <transition name="fade" mode="out-in">
                        <ui-button v-if="isFirstVisit && name" key="signUp">
                            {{ $lang('lbl.signUp') }}
                        </ui-button>
                        <ui-button v-if="!isFirstVisit && name" key="logIn">
                            {{ $lang('lbl.logIn') }}
                        </ui-button>
                        <!-- to keep button height -->
                        <ui-button v-if="!name" key="empty" disabled style="visibility: hidden"/>
                    </transition>
                </layout-flex>
            </form>
        </ui-box>
    </layout-flex>
</template>

<script type="text/babel">
    import { mapGetters, mapState } from 'vuex';

    export default {
        data: () => ({
            name: '',
        }),

        methods: {
            handleSubmit() {
                this.$store.dispatch('user/LOG_IN', {
                    name: this.name,
                }).then(() => {
                    this.$router.push({
                        name: 'homepage',
                    });
                });
            },
        },

        computed: {
            ...mapState('app', ['appTitle']),
            ...mapGetters('user', ['isFirstVisit']),
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
