<template>
    <div>
        <h1>Hey, {{ user.name }}!</h1>

        <h2>This is your {{ user.sessions.length }} time here</h2>

        <p>Your last logged activity was on {{ user.sessions.slice(-1)[0].toLocaleString() }}</p>
    </div>
</template>

<script type="text/babel">
    import { mapState, mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapState('user', ['user']),
            ...mapGetters('feeds', ['history']),
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
