<template>
    <div>
        <ui-feeds-list :feeds="history">
            <template slot="actions" scope="props">
                <ui-button
                    :theme="!props.feed.isIn.favorites ? 'safe' : 'danger'"
                    :title="$lang(!props.feed.isIn.favorites ? 'favorites.add' : 'favorites.remove')"
                    @click.native="$store.dispatch(!props.feed.isIn.favorites ? 'feeds/FAVORITES_ADD' : 'feeds/FAVORITES_REMOVE', props.feed)">
                    <ui-icon name="heart"/>
                </ui-button>

                <ui-button
                    theme="danger"
                    :title="$lang('history.remove')"
                    @click.native="$store.dispatch('feeds/HISTORY_REMOVE', props.feed)">
                    <ui-icon name="delete"/>
                </ui-button>
            </template>
        </ui-feeds-list>
    </div>
</template>

<script type="text/babel">
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters('feeds', ['history']),
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
