<template>
    <button v-if="!link"
            :class="classes">
        <slot/>
    </button>

    <a v-else
       :class="classes"
       :href="link">
        <slot/>
    </a>
</template>

<script type="text/babel">
    export default {
        props: {
            link: {
                type: String,
                required: false,
            },
            theme: {
                type: String,
                default: 'primary',
            },
        },

        computed: {
            classes() {
                return ['Button', `c:theme:${this.theme}`];
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
