<template>
    <layout-flex
        class="Box pad:a:3 radius:default border:default radius:default"
        :class="[`c:theme:${theme}`]">
        <slot/>
    </layout-flex>
</template>

<script type="text/babel">
    export default {
        props: {
            theme: {
                type: String,
                default: 'primary',
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
    .Box {
        max-width: 50rem;
    }
</style>
