<template>
    <div class="FeedList">
        <table>
            <tr v-for="item in feeds" v-if="item">
                <td class="feedList-itemImage">
                    <img v-if="item.image64 || item.feed.image"
                         :src="item.image64 || item.feed.image"
                         :alt="item.feed.title"/>
                    <span v-else>no image</span>
                </td>

                <td class="width:100%">
                    <router-link :to="{ name: 'feed', params: { index: indexOf(item) }}">
                        {{ item.feed.title }} <br> {{ item.id }}
                    </router-link>

                </td>

                <td v-if="$scopedSlots.actions">
                    <layout-flex dir="row" equalWidth>
                        <slot name="actions" :feed="item"/>
                    </layout-flex>
                </td>
            </tr>
        </table>
    </div>
</template>

<script type="text/babel">
    import { mapGetters } from 'vuex';

    export default {
        props: {
            feeds: Array,
        },

        computed: {
            ...mapGetters('feeds', ['indexOf']),
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
    .feedList-itemImage {
        min-width: 12rem;
    }
</style>
