<template>
    <span
        class="Icon"
        :class="classes"
        :aria-label="label"
        :title="label"
        :style="{ width: size }"
        role="presentation"
        v-html="svg"
    ></span>
</template>

<script type="text/babel">
    import { icons } from '../icons';

    export default {
        props: {
            label: String,
            name: {
                type: String,
                required: true,
            },
            size: {
                type: String,
                default: '2rem',
            },
            theme: String,
            themeHover: String,
            transition: Boolean,
        },

        data() {
            return {
                svg: icons[this.$props.name],
            };
        },

        computed: {
            classes() {
                return {
                    [`-theme:${this.theme}`]: this.theme,
                    [`-theme:${this.themeHover}:hover`]: this.themeHover,
                    '-transition': this.transition,
                };
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
    @import '../scss/framework/index';

    .Icon {
        // Square ratio
        @include -ratioBlock(1, 1);
        display: inline-block;
        vertical-align: middle;

        svg {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            fill: currentColor;
        }

        &#{-state(transition)} {
            svg {
                will-change: fill;
                transition-property: fill;
            }
        }

        // Generate themes
        @each $theme, $values in $-theme-colors {
            &#{-state(theme $theme)},
            &#{-state(theme $theme hover)}:hover {
                svg {
                    fill: nth($values, 1);
                }
            }
        }
    }
</style>
