<template>
    <layout-flex class="Navigation" dir="row" cross="center" layout-gutter="h:1">

        <!-- menu items -->
        <layout-flex v-for="(item, index) in menu" :key="index" dir="row" class="pos:rel">
            <router-link
                class="navigation-item pos:rel pad:v:2 pad:h:1 c:txt:light"
                :class="{ '-active hoverable:false': item.isActive() }"
                :to="{ name: item.route.name }"
                :title="item.route.meta.pageTitle">

                <transition name="fade">
                    <div class="navigation-itemBg pos:abs pos:a:0 c:bg:gray z:0" v-show="item.isActive()"></div>
                </transition>

                <ui-icon :name="item.icon"
                         :label="item.route.meta.pageTitle"
                         :theme="item.isActive() ? 'primary' : 'light'"
                         transition
                         size="4rem">
                </ui-icon>
            </router-link>

            <transition
                v-if="item.counter"
                name="bounceFade"
                mode="out-in"
                appear>
                <layout-flex :key="counters[item.counter]"
                             class="navigation-itemCounter pos:abs type:small radius:round clickable:false"
                             dir="row"
                             main="center"
                             cross="center">
                    <span>{{ counters[item.counter] }}</span>
                </layout-flex>
            </transition>
        </layout-flex>

        <!-- log out -->
        <a
            class="navigation-item pos:rel pad:v:2 pad:h:1 c:txt:light"
            href="#"
            :title="$lang('lbl.logOut')"
            @click.prevent="handleLogOut()">
            <ui-icon name="exit"
                     :label="$lang('lbl.logOut')"
                     theme="light"
                     themeHover="danger"
                     transition
                     size="4rem">
            </ui-icon>
        </a>
    </layout-flex>
</template>

<script type="text/babel">
    import { mapGetters } from 'vuex';
    import { getter } from '../store';

    export default {
        data: () => ({
            hover: false,
            menu: [
                {
                    route: 'homepage',
                    icon: 'home',
                }, {
                    route: 'search',
                    icon: 'search',
                }, {
                    route: 'history',
                    icon: 'clock',
                    counter: 'history',
                }, {
                    route: 'favorites',
                    icon: 'heart',
                    counter: 'favorites',
                },
            ],

        }),

        computed: {
            ...mapGetters('feeds', ['counters']),
        },

        created() {
            // Prepare items
            this.menu = this.menu.map(item => Object.assign(item, {
                route: getter('app', 'route')(item.route),
                isActive: () => item.route.name === this.$route.name,
                hover: false,
            }));
        },

        methods: {
            handleLogOut() {
                this.$store.dispatch('user/LOG_OUT').then(() => {
                    this.$router.push({ name: 'welcome' });
                });
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
    @import '../scss/framework/index';

    .navigation-itemCounter {
        @include -ratioBlock(1, 1, null, false);
        bottom: 1rem;
        right: .5rem;
        width: 2.5rem;
        background: -color($-c-danger, $alpha: -2);
    }
</style>
