<template>
    <table>
        <tr v-for="post in feed.items">
            <td>{{ post.pubDate }}</td>
            <td>
                <a :href="post.link" target="_blank">
                    {{ post.title }}
                </a>
            </td>
        </tr>
    </table>
</template>

<script type="text/babel">
    export default {
        props: {
            feed: {
                type: Object,
                default: () => ({}),
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
