<template>
    <form @submit.prevent="handleSubmit">
        <layout-flex :defaultWidth="false">
            <label for="feed">{{ $lang('search.label') }}</label>

            <layout-flex dir="row" layout-gutter="h:2">
                <div layout-flex-item="grow:true">
                    <input id="feed"
                           class="width:100%"
                           type="text"
                           :value="query"
                           :placeholder="$lang('search.placehold')"
                           required
                           @input="handleChange($event.target.value)">
                </div>
                <div>
                    <ui-button type="submit" :disabled="this.submitDisabled">
                        {{ $lang('search.submit') }}
                    </ui-button>
                </div>
            </layout-flex>
        </layout-flex>
    </form>
</template>

<script type="text/babel">
    export default {
        props: {
            query: {
                type: String,
                default: '',
            },
        },

        data: () => ({
            lastQuery: null,
        }),

        model: {
            prop: 'query',
            event: 'change',
        },

        computed: {
            submitDisabled() {
                return this.lastQuery === this.query;
            },
        },

        methods: {
            handleChange(value) {
                this.$emit('change', value);
            },

            handleSubmit() {
                if (!this.submitDisabled) {
                    this.lastQuery = this.query;
                }

                this.$store.dispatch('api/GET_FEED', {
                    rss_url: this.query,
                }).then((response) => {
                    this.$store.dispatch('feeds/HISTORY_ADD', response);
                });
            },
        },
    };
</script>

<style lang="scss" rel="stylesheet/scss">
</style>
