<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <% if (htmlWebpackPlugin.options.description) { %>
        <meta name="description" content="<%= htmlWebpackPlugin.options.description %>"/>
        <% } %>
        <% htmlWebpackPlugin.options.styles.forEach((item) => { %>
        <style><%= item %></style>
        <% }) %>
        <% htmlWebpackPlugin.options.stylesheets.forEach((item) => { %>
        <link rel="stylesheet" href="<%= item %>">
        <% }) %>
        <% htmlWebpackPlugin.options.scripts.forEach((item) => { %>
        <script src="<%= item %>"></script>
        <% }) %>
    </head>
    <body>
        <!-- Inlined loader -->
        <%= htmlWebpackPlugin.options.loader.html %>

        <!-- Vue.js mounting point -->
        <div id="app"></div>
    </body>
</html>
