//===============================================================
//  Framework configuration
//===============================================================

// === Enable/disable unit conversion functions ===
$-config-unitConversion: true;

// === Determines if imported helper should render instantly ===
$-config-renderHelper: false;

// === Naming schemas ===
$-config-naming: (
    separator: \:,
    prefix: (
        state: \-,
        helper: (
            class: '',
            attr: '',
        ),
    ),
    suffix: (
        respond: (
            to: \@to-,
            from: \@from-,
            in: \@in-,
        ),
    ),
);

// === Responsive design ===
// For mobile first design - 'min-width', desktop first - 'max-width',
$-config-defaultMediaQuery: min-width;
// True to convert media queries to 'em' instead of 'px'
$-config-emQueries: true;
// Breakpoint slices and slice names
$-config-breakpoints: (
    -infinity: 0,
    xs: 320px,
    s: 480px,
    m: 560px,
    l: 720px,
    xl: 960px,
    +infinity: 1200px,
);

// === Directories ===
//$-dir-fonts: $dir-fonts;
//$-dir-img: $dir-img;

// === Development environment ===
$-config-dev: true;
$-config-devHelpers: (
    responsive: (
        enabled: true,
        breakpoints: $-config-breakpoints,
        color: rgba(255, 0, 0, 0.6)
    ),
);
