//===============================================================
//  Helpers configuration
//===============================================================

$-helper-colors: (
    generate: (
        background: -map-reduce($-theme-colors, 1),
        text: -map-reduce($-theme-colors, 1),
        themes: $-theme-colors,
    ),
);

$-helper-types: (
    generate: (
        h1: $-t-h1,
        h2: $-t-h2,
        h3: $-t-h3,
        h4: $-t-h4,
        h5: $-t-h5,
        content: $-t-content,
        small: $-t-small,
    ),
);

$-helper-gutter: (
    respond: (),
    generate: (
        1: 1rem,
        2: 2rem,
        3: 3rem,
    ),
);

$-helper-flex: (
    respond: (),
    generate: (),
);

$-helper-flex-item: (
    respond: (),
    generate: (),
);

$-helper-generator-sides: (
    generate: (
        selector: marg,
        prefix: margin-,
        generate: (
            auto: (auto) (h),
            0: (0) (b),
        ),
    ) (
        selector: pad,
        prefix: padding-,
        generate: (
            5\%: (6%) (v),
            1: (1rem) (a h v),
            2: (2rem) (a h v),
            3: (3rem) (a h v),
        ),
    ) (
        selector: pos,
        prefix: '',
        generate: (
            0: (0) (a),
        ),
    )
);

$-helper-generator-simple: (
    generate: (
        selector: width,
        property: width,
        generate: (
            100\%: 100%,
        ),
    ) (
        selector: maxW,
        property: max-width,
        generate: (
            content: 100rem,
        ),
    ) (
        selector: minH,
        property: min-height,
        generate: (
            100vh: 100vh,
        ),
    ) (
        selector: pos,
        property: position,
        generate: (
            rel: relative,
            abs: absolute,
        ),
    ) (
        selector: trans,
        property: transition,
        generate: (
            none: none,
        ),
    ) (
        selector: radius,
        property: border-radius,
        generate: (
            round: 50%,
            default: $-borderRadius-default,
        ),
    ) (
        selector: border,
        property: border,
        generate: (
            default: $-border-default,
        ),
    ) (
        selector: z,
        property: z-index,
        generate: (
            0: 0,
        ),
    ) (
        selector: hoverable,
        property: filter,
        generate: (
            false: opacity(1) !important,
        ),
    ) (
        selector: clickable,
        property: pointer-events,
        generate: (
            false: none,
        ),
    ) (
        selector: txt align,
        property: text-align,
        generate: (
            center: center,
        ),
    )
);
