//===============================================================
//  Theme colors
//===============================================================

// === Color mixing ===
$-cMix-default: 1.5;

// VueJs theme
$-c-light: #FFF;
$-c-gray: hsl(0, 0%, 96%);
$-c-primary: hsl(153, 48%, 49%);
$-c-secondary: hsl(211, 28%, 29%);
$-c-safe: hsl(153, 48%, 49%);
$-c-danger: hsl(0, 48%, 49%);

$-c-content: -color($-c-secondary, 1, -5);
$-c-link: $-c-primary;
$-c-border: -color($-c-gray, -$-cMix-default);

// id: bg txt border
$-theme-colors: (
    default: $-c-gray $-c-content $-c-border,
    light: $-c-light $-c-content $-c-border,
    gray: $-c-gray $-c-content $-c-border,
    primary: $-c-primary $-c-light -color($-c-primary, -$-cMix-default),
    secondary: $-c-secondary $-c-light -color($-c-secondary, -$-cMix-default),
    safe: $-c-safe $-c-light -color($-c-safe, -$-cMix-default),
    danger: $-c-danger $-c-light -color($-c-danger, -$-cMix-default),
);

//===============================================================
//  Theme typography (fontSize lineHeight weight family)
//===============================================================

$-t-h1: 3rem 4rem;
$-t-h2: 2.5rem 3rem;
$-t-h3: 2.25rem 3rem;
$-t-h4: 2rem 2rem;
$-t-h5: 1.75rem 2rem;
$-t-content: 1.5rem 2rem;
$-t-small: 1.3rem 2rem;

//===============================================================
//  Shared styles
//===============================================================

// === Typography ===
$-fontFamily-serif: 'Merriweather', Georgia, serif;
$-fontFamily-content: $-fontFamily-serif;

$-fontSize-base: 10px; // easy rem calculation
$-fontSize-content: 1.5rem;
$-lineHeight-content: 2rem;
$-fontWeight-content: 300;

// === Borders stuff ===
$-border-default: 1px solid;
$-borderRadius-default: 3px;

// === Effects ===
$-boxShadow: none;
$-textShadow: none;

// === Transitions ===
$-trans-duration: 300ms;
$-trans-function: cubic-bezier(.4, 0, .5, 1);

//===============================================================
//  Elements style
//===============================================================

// === Body ===
$-body-minWidth: 240px;
$-body-color: $-c-content;
$-body-bg: $-c-light;

// === Links ===
$-link-color: $-c-link;
$-link-decoration: none;
$-link-hoverStyle: true;
$-link-transitionProperty: color, background, opacity, border, filter;

// === Headings ===
$-heading-color: null;
$-heading-fontFamily: $-fontFamily-serif;
$-heading-lineHeight: $-lineHeight-content;
$-heading-fontWeight: 500;
$-heading-typography: (
    h1: $-t-h1,
    h2: $-t-h2,
    h3: $-t-h3,
    h4: $-t-h4,
    h5: $-t-h5,
);

// === Form inputs ===
$-input-height: 4rem;
$-input-paddingH: 1.5rem;
$-input-color: -color($-c-content, $-cMix-default);
$-input-bg: -color($-body-bg, 1);
$-input-fontSize: $-fontSize-content;
$-input-border: $-border-default -color($-input-bg, -$-cMix-default);
$-input-borderRadius: $-borderRadius-default;

$-input-valid-border: $-c-safe;
$-input-valid-boxShadow: inset 0 0 3px -color($-c-safe, $-cMix-default);

$-input-invalid-border: $-c-danger;
$-input-invalid-boxShadow: inset 0 0 3px -color($-c-danger, $-cMix-default);

$-checkable-margin: .5rem;
$-textarea-maxHeight: 4rem;

$-label-fontSize: $-fontSize-content;

// === Buttons ===
$-button-height: 4rem;
$-button-paddingH: 1.5rem;
$-button-color: $-c-light;
$-button-bg: -color($-body-bg, $-cMix-default);
$-button-fontSize: $-fontSize-content;
$-button-border: $-border-default -color($-button-bg, -$-cMix-default);
$-button-borderRadius: $-borderRadius-default;

// === Other ===
$-list-indent: 1rem;

$-table-cell-padding: .5rem 1rem;
$-table-cell-border: 1px solid $-c-border;

$-hr-border: 3px solid $-c-border;

//===============================================================
//  Other settings
//===============================================================

// === Default spacing for block elements ===
$-block-spacing: ((
    selectors: (h1, h2, h3, h4, table),
    space: 3rem
), (
    selectors: (h5, h6, p, ol, ul, blockquote, dd, dl, hr, pre),
    space: 2rem
));

// === Change html font size on breakpoints ===
// (breakpointId: fontSize)
$-respond-htmlFontSize: (
);

// === Register all project z-indexes here ===
$-zIndex-default: 0;

//===============================================================
//  Shared placeholders
//===============================================================

%-state-hover {
    will-change: filter;

    &:hover {
        filter: opacity(.75);
    }
}

%-state-active {
    will-change: filter;

    &:active,
    &:active:hover {
        filter: opacity(1);
        transition-duration: $-trans-duration / 5;
    }
}

%-state-disabled {
    &:disabled {
        filter: grayscale(0.5) opacity(.75);
        cursor: not-allowed;
    }
}
